.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 
#container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
} 

.page-changer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-changer > button {
  border-radius: 4px;
  width: 100px;
  background-color: rgb(100, 120, 127);
  border: none;
  padding: 5px;
}

.current-page {
  padding: 10px;
}

.first-last {
  border-radius: 4px;
  width: 100px;
  padding: 5px;
  margin: 0 20px 0 20px;
  background-color: #141619!important;
}

li {
  list-style-type: none; 
  padding: 0!important; 
  margin: 0!important; 
}